@mixin fullWH {
    width: 100%;
    height: 100vh;
}
@mixin center {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}

@mixin mobileVertical {
    @media (max-width: 400px) {
        @content;
    }
}
@mixin breakpoint3 {
    @media (max-width: 680px) {
        @content;
    }
}
@mixin mobileHorizontal {
    @media (max-width: 830px) {
        @content;
    }
}
@mixin tabletHorizontal {
    @media only screen and (max-width: 1100px) {
        @content;
    }
}

$primaryColor:rgb(83, 182, 119);
$secondaryColor: rgb(182, 164, 83);

.s-opening {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    z-index: -1;
    .o-logo {
        color: $primaryColor;
        @include center();
        h1 {
            font-size: 5rem;
        }
        p {
            font-size: 2rem;
        }
    }
    .o-image {
        width: 25vw;
        height: 0;
        object-fit: cover;
        overflow: hidden;
        z-index: -1;
        background-color: $secondaryColor;
        @include center();
        position: relative;
        .img {
            background: url('../images/swirling-plate.jpg') no-repeat;
            background-position: 50%;
            background-size: cover;
            height: 101%;

            animation: imageAppear 1s linear;
            animation-delay: 2.2s;
        }
    }
}

.s-hero {
    position: relative;
    max-width: 100%;
    height: 100vh;
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1% 5%;
        width: 100%;
        height: 15vh;
        font-size: 20px;
        z-index: 10;
        position: fixed;
        
        .h-logo {
            font-size: 2rem;
            background-color: rgba($color:rgb(255, 255, 255), $alpha: 0.9);
            color: rgb(44, 107, 69);
            padding: 2% 3%;
            transition: all 0.3s ease-in-out;
            transform: translateX(-15%);
            z-index: 6;
            h2 {
                font-size: 25px;
            }
            p {
                font-size: 15px;
                font-weight: bold;
            }
        }
        .reserve-btn {
            transition: all 0.5s ease;
        }
        
    }
    .burger-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .line {
            width: 30px;
            height: 2px;
            background-color: $primaryColor;
            margin-bottom: 5px;
            transition: all 0.5s ease;
        }
    }
    .hero {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        .h-image {
            height: 120vh;
            overflow: hidden;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            img{
                height: 110%;
                transform: translateY(-7%);
                filter: blur(2px);
            }
        }
        .h-title {
            height: 100%;
            font-size: 6rem;
            color: $secondaryColor;
            z-index: 5;
            text-align: center;
            margin-top: 15%;
            padding: 0 5%;
        }
    }
    .burger-menu-content {
        position: fixed;
        top:0;
        bottom:0;
        left: 0;
        right: 0;
        width: 100vw;
        z-index: 6;
        transition: all 1s ease-in-out;
        transform: translateX(100%);
        ul {
            background-color: rgb(44, 44, 44);
            -webkit-text-fill-color: $primaryColor;
            -webkit-text-stroke: transparent;
            width: 50%;
            height: 100vh;
            margin-left: 50%;
            text-align: center;
            padding-top: 5%;
            font-size: 23px;
            li {
                margin: 5%;
            }
            .line {
                width: 50%;
                height: 1px;
                background-color: $primaryColor;
                margin-left: 25%;
            }
            .reserve-btn {
                font-size: 20px;
                padding: 1% 4%;
            }
        } 
    }
    .reserve-content {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,.7);
        transition: all 1s ease-in-out;
        transform: translateX(-100%);
        z-index: 6;
        -webkit-text-fill-color: inherit;
        -webkit-text-stroke: transparent;
        .reserve-content-wrapper {
            width: 60%;
            height: 100%;
            background-color: $primaryColor;
            color: white;
            padding: 5%;
            overflow-x: hidden;
            overflow-y: scroll; 
            h2 {
                font-size: 40px;
            }
            h4 {
                font-weight: 300;
            }
            #reserve-form {
                margin-top: 5%;
                label {
                    font-size: 23px;
                    margin-bottom: 7px;
                }
                .input {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;
                    input {
                        height: 7vh;
                        min-width: 45%;
                    }
                }
                .inline-inputs {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
            }
        }
        .close-btn {
            width: 100%;
            margin-left: calc(100% - 30px);
            margin-bottom: 10%;
            z-index: 10;
            cursor: pointer;
            .line {
                width: 30px;
                height: 1.5px;
                background-color: white;
            }
            .line1 {
                transform: rotate(45deg) translateX(1px) translateY(1px);
            }
            .line2 {
                transform: rotate(-45deg);
            }
        }
    }
    
}

.s-info {
    width: 100%;
    height: 100vh;
    background-color: $secondaryColor;
    z-index: -10;
    margin-top: 5%;
    .headline {
        color: white;
        padding-top: 10%;
        text-align: center;
    }
    .i-box {
        color: white;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 50%;
        transform: translateX(-25%);
        .i-news {
            width: 50%;
            position: relative;
            .i-date {
                font-size: 15px;
                background-color: rgb(68, 68, 68);
                text-align: center;
                width: fit-content;
                padding: 0px 5px 2px 5px;
            }
            .i-text {
                font-size: 22px;
                margin-bottom: 10px;
            }
            &::after {
                content: "";
                background-color: white;
                width: 1px;
                height:100%;
                display: inline-block;
                position: absolute;
                top: 0;
                left: 100%;
            }
        }
        .i-takeout-btn {
            font-size: 20px;
            background-color: $primaryColor;
            padding: 5px;
            div {
                border: 1px white solid;
                padding: 7px 11px;
            }
        }
    }
}

@include tabletHorizontal(){
    .s-hero{
        .hero{
            .h-title{
                color: goldenrod;
                margin-top: 30%;
            }
        }
    }
    .s-info {
        padding-top: 5%;
        height: fit-content;
        padding-bottom: 20%;
    }
}
@include mobileHorizontal(){
    .s-hero {
        height: 100vh;
        .hero {
            height: 100%;
            .h-title {
                color: white;
                text-align: left;
                margin-top: 50%;
                font-size: 5rem;
            }
            .h-image {
                min-width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: auto;
                    filter: grayscale(20%) blur(3px);
                }
            }
        }
    }
    .s-info {
        margin-top: -5%;
        .i-box {
            .i-news {
                .i-date {
                    font-size: 10px;
                }
                .i-text {
                    font-size: 15px;
                }
            }
            .i-takeout {
                .i-takeout-btn {
                    font-size: 15px;
                }
            }
        }
    }
}

@include mobileVertical() {
    .s-hero {
        .nav{
            .reserve-btn{
                display: none;
            }
        }
        .hero {
            height: 100vh;
            .h-title{
                font-size: 3.5rem;
                margin-top: 50%;
            }
            .h-image{
                img{
                    height: 100%;
                }
            }
        }
    }
    .s-info{
        margin-top: -20%;
        .i-box {
            .i-news {
                width: 100%;
                .i-date {
                    font-size: 7px;
                }
                .i-text {
                    font-size: 11px;
                }
            }
            .i-takeout {
                margin-top: 5%;
                .i-takeout-btn {
                    font-size: 11px;
                }
            }
        }
    }
}