@mixin fullWH {
    width: 100%;
    height: 100vh;
}
@mixin center {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}

@mixin mobileVertical {
    @media (max-width: 400px) {
        @content;
    }
}
@mixin breakpoint3 {
    @media (max-width: 680px) {
        @content;
    }
}
@mixin mobileHorizontal {
    @media (max-width: 830px) {
        @content;
    }
}
@mixin tabletHorizontal {
    @media only screen and (max-width: 1100px) {
        @content;
    }
}

$primaryColor:rgb(182, 164, 83);
$secondaryColor:rgb(143, 119, 10);

.s-opening {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    z-index: -1;
    .o-logo {
        color: $secondaryColor;
        @include center();
        h1 {
            font-size: 5rem;
        }
        p {
            font-size: 2rem;
        }
    }
    .o-image {
        width: 25vw;
        height: 0;
        object-fit: cover;
        overflow: hidden;
        z-index: -1;
        background-color: $secondaryColor;
        @include center();
        position: relative;
        .img {
            background: url('../images/swirling-plate.jpg') no-repeat;
            background-position: 50%;
            background-size: cover;
            height: 101%;

            animation: imageAppear 1s linear;
            animation-delay: 2.2s;
        }
    }
}

.s-hero {
    position: relative;
    max-width: 100%;
    height: 100vh;
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1% 5%;
        width: 100%;
        height: 15vh;
        font-size: 20px;
        z-index: 15;
        position: fixed;
        color: $secondaryColor;
        
        .h-logo {
            font-size: 2rem;
            background-color: rgba($color:rgb(255, 255, 255), $alpha: 0.9);
            color: $secondaryColor;
            padding: 2% 3%;
            transition: all 0.3s ease-in-out;
            transform: translateX(-15%);
            z-index: 6;
            h2 {
                font-size: 25px;
            }
            p {
                font-size: 15px;
                font-weight: bold;
            }
        }
        .reserve-btn {
            transition: all 0.5s ease;
        }
        
    }
    .burger-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 15;
        .line {
            width: 30px;
            height: 2px;
            background-color: $secondaryColor;
            margin-bottom: 5px;
            transition: all 0.5s ease;
        }
    }
    .hero {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        .h-image {
            width: 40%;
            height: 110vh;
            overflow: hidden;
            object-fit: cover;
            position: absolute;
            z-index: 10;
            top: 0;
            left: 50%;
            
            img{
                width: 100%;
            }
        }
        .h-title {
            font-size: 5rem;
            color: $primaryColor;
            z-index: 11;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 0 5%;
            width: 80%;
        }
    }
    .burger-menu-content {
        position: fixed;
        top:0;
        left: 0;
        width: 100vw;
        z-index: 12;
        transition: all 1s ease-in-out;
        transform: translateX(100%);
        ul {
            background-color: rgb(44, 44, 44);
            -webkit-text-fill-color: $primaryColor;
            -webkit-text-stroke: transparent;
            width: 50%;
            height: 100vh;
            margin-left: 50%;
            text-align: center;
            padding-top: 5%;
            font-size: 23px;
            li {
                margin: 5%;
                cursor: pointer;
            }
            .line {
                width: 50%;
                height: 1px;
                background-color: $primaryColor;
                margin-left: 25%;
                cursor: none;
            }
            .reserve-btn {
                font-size: 20px;
                padding: 1% 4%;
            }
        } 
    }
}

.s-reserve {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    
    background-color: $primaryColor;
    position: relative;
    color: white;
    padding: 15%;
    .reserve-title {
        width: 400px;
        .headline {
            color: white;
            font-size: 3.5rem;
            margin: 5% 0;
        }
        h4 {
            font-weight: 300;
            font-size: 13px;
        }
    }
    .reserve-content {
        width: 47%;
        .reserve-content-wrapper {
            #reserve-form {
                margin-top: 5%;
                label {
                    font-size: 15px;
                    margin-bottom: 7px;
                }
                .input {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;
                    input {
                        height: 7vh;
                        min-width: 45%;
                        font-size: 15px;
                    }
                }
                .inline-inputs {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    input {
                        width: 40%
                    }
                }
            }
        }
    }
}

@include tabletHorizontal(){
    .s-info {
        padding-top: 5%;
        height: fit-content;
        padding-bottom: 20%;
    }
}
@include mobileHorizontal(){
    .s-hero {
        height: 100vh;
        .hero {
            height: 100%;
            .h-title {
                color: white;
                text-align: left;
                margin-top: 50%;
                font-size: 5rem;
            }
            .h-image {
                min-width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: auto;
                    filter: grayscale(20%) blur(3px);
                }
            }
        }
    }
}

@include mobileVertical() {
    .s-hero {
        .nav{
            .reserve-btn{
                display: none;
            }
        }
        .hero {
            height: 100vh;
            .h-title{
                font-size: 3.5rem;
                margin-top: 50%;
            }
            .h-image{
                img{
                    height: 100%;
                }
            }
        }
    }
}