
@mixin mobileVertical {
    @media (max-width: 400px) {
        @content;
    }
}
@mixin tabletVertical {
    @media (max-width: 1100px) {
        @content;
    }
}

$primaryColor: rgb(182, 164, 83);

.s-concept {
    height: 170vh;
    padding: 0 10vw;
    .c-box1, .c-box2 {
        display: flex;
        justify-content: space-between;
        padding: 0 5%; 
    }
    .c-box1 {
        .c-content {
            width: 45%;
        }
        .spice-img {
            width: 45%;
            overflow: hidden;
            transform: translateY(-40%);
            img{
                width: 100%;
            }
        }
    }
    .c-box2 {
        margin-top: -10%;
        .ginger-img {
            width: 45%;
            object-fit: cover;
            overflow: hidden;
            transform: translateY(-25%);
            img{
                width: 100%;
                transform: translateY(-20%);
            }
        }
        .c-content2 {
            width: 45%;
        }  
    }
    h1 {
        font-size: 2rem;
    }
    p {
        margin-top: 5%;
        font-size: 13px;
    }
}

.s-menu {
    width: 100%;
    height: fit-content;
    margin-top: 20vh;
    .headline {
        text-align: center;
        margin-bottom: 5%;
    }
    .s-menu-container{
        position: relative;
        width: 100%;
        height: 110vh;
        .menu-content {
            position: absolute;
            width: 80%;
            height: 97vh;
            line-height: 0.5;
            padding: 1%;
            top: -5%;
            left: 50%;
            z-index: 99;
            transform: translateX(-50%);
            display: grid;
            grid-template-columns: 1fr 4fr 5fr 1fr 4fr;
            grid-template-rows: 1fr 5fr 5fr 1fr 1fr;
            background-color: rgba($color: #d8c39c, $alpha: 0.9);
            color: black;
            font-size: 13px;
            font-family: 'Barlow Semi Condensed', sans-serif;
            .menu-item {
                display: flex;
                justify-content: space-between;
                padding: 5%;
            }
            .bites-title {
                grid-area: 1 / 1 / 2 / 3;
                padding: 2% 0 2% 5%;
                border-top: none;
                border-left: none;
            }
            .bites {
                grid-area: 2 / 1 / 3 / 3;
                border-left: none;
                p {
                    margin-top: 5%;
                    line-height: 1;
                    padding-left: 5%;
                }
            }
            .appe-title {
                grid-area: 1 / 3 / 2 / 4;
                padding: 2% 0 2% 5%;
                border-top: none;
            }
            .appetizers {
                grid-area: 2 / 3 / 3 / 4;
            }
            .s-s-title {
                grid-area: 1 / 4 / 2 / 6;
                padding: 2% 0 2% 5%;
                border-top: none;
                border-right: none;
            }
            .salad-soup {
                grid-area: 2 / 4 / 3 / 6;
                border-right: none;
            }
            .main-title {
                grid-area: 3 / 1 / 4 / 2;
                border-left: none;
                padding: 10% 0 0 5%;
            }
            .main-curry {
                grid-area: 3 / 2 / 4 / 4;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 2fr 1fr;
                .block-1 {
                    grid-area: 1 / 1 / 3 / 2;
                }
                .block-2 {
                    grid-area: 1 / 2 / 2 / 3;
                }
                .block-3 {
                    grid-area: 2 / 2 / 3 / 3;
                }
            }
            .noodles-title {
                grid-area: 3 / 4 / 4 / 5;
                padding: 10% 0 0 5%;
            }
            .noodles {
                grid-area: 3 / 5 / 4 / 6;
                border-right: none;
            }
            .noodle-options {
                grid-area: 4 / 1 / 5 / 6;
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: fit-content;
                border-left: none;
                border-right: none;
                .menu-item {
                    padding: 1%;
                }
            }
            .additional-info {
                grid-area: 5 / 1 / 6 / 6;
                text-align: center;
                padding: 1% 0;
            }
        }
        .menu-background {
            width: 100%;
            height: 100%;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
    }
}

.s-access {
    margin-top: 20%;
    width: 100%;
    padding: 0 10vw;
    .headline {
        text-align: center;
    }
    .a-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
        margin-left: 5%;
        width: 90%;
        .map {
            width: 50%;
            overflow: hidden;
        }
        .a-info {
            margin-top: 5%;
            font-size: 15px;
        }
    }
}

@include tabletVertical(){
    .s-concept{
        height: fit-content;
        .c-box2{
            margin-top: -13%;
            .ginger-img {
                transform: translateY(0);
            }
        }
        h1 {
            font-size: 20px;
        }
        p {
            font-size: 11px;
        }
    }
    .s-menu {
        
        .s-menu-container {
            height: 48vh;
            .menu-content {
                width: 90%;
                height: 100%;
                line-height: 1;
            }
        }
    }
    .s-access {
        .a-content {
            iframe {
                width: 100%;
            }
            .a-info {
                margin-top: 5%;
                font-size: 15px;
            }
        }
    }
}

@include mobileVertical() {
    .s-concept{
        margin-top: 10%;
        .c-box1{
            flex-direction: column;
            .c-content {
                width: 100%;
            }
            .spice-img {
                margin-top: 5%;
                width: 100%;
                transform: translateY(0);
            }
        }
        .c-box2{
            margin-top: 5%;
            flex-direction: column-reverse;
            .c-content2{
                width: 100%;
                transform: translateY(0);
            }
            .ginger-img{
                margin-top: 5%;
                width:100%;
            }
        }
    }
    .s-menu {
        .headline{
            margin-bottom: 10%;
        }
        .s-menu-container {
            .menu-content {
                font-size: 10px;
                height: 60vh;
            }
        }
    }
    .s-access {
        margin-top: 40%;
    }
}
