@mixin fullWH {
    width: 100%;
    height: 100vh;
}
@mixin mobileVertical {
    @media (max-width: 401px) {
        @content;
    }
}
@mixin breakpoint3 {
    @media (max-width: 680px) {
        @content;
    }
}
@mixin mobileHorizontal {
    @media (max-width: 830px) {
        @content;
    }
}
@mixin tabletHorizontal {
    @media only screen and (max-width: 1100px) {
        @content;
    }
}

$primaryColor:rgb(83, 182, 119);


.s-concept {
    height: 220vh;
    .c-box1, .c-box2 {
        display: flex;
        justify-content: space-between;
        padding: 0 5%; 
    }
    .c-box1 {
        .c-content {
            width: 45%;
        }
        .spice-img {
            width: 45%;
            overflow: hidden;
            transform: translateY(-40%);
            img{
                width: 100%;
            }
        }
    }
    .c-box2 {
        margin-top: -20%;
        .ginger-img {
            width: 45%;
            transform: translateY(-23%);
            img{
                width: 100%;
            }
        }
        .c-content2 {
            width: 45%;
        }  
    }
    h1 {
        font-size: 2rem;
    }
    p {
        margin-top: 5%;
    }
}

.s-menu {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: 10%;
    
    .s-menu-container{
        margin-top: 10%;
        height: 100vh;
        .toggle-menu {
            background-color: rgb(41, 41, 41);
            color: white;
            position: absolute;
            z-index: 1;
            width: 70%;
            height: 80%;
            top: 30%;
            left: 5%;
            
        }
        .menu-background {
            width: 100%;
            height: 90%;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
    }
}

.s-access {
    margin-top: 20%;
    width: 100%;
    .a-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
        margin-left: 5%;
        width: 90%;
        iframe {
            width: 40%;
        }
        .info-1 {
            margin-top: 5%;
            font-size: 20px;
        }
    }
}

@include tabletHorizontal(){
    .s-concept{
        margin-bottom: -30%;
        .c-box2{
            .ginger-img {
                transform: translateY(0);
            }
        }
    }
}
@include mobileHorizontal(){
    .s-concept {
        height: fit-content;
        margin-bottom: 20%;
        h1 {
            font-size: 20px;
        }
        p {
            font-size: 13px;
        }
    }
    
    .s-menu {
        .menu-list {
            font-size: 40px;
        }
    }
    .s-access {
        .a-content {
            iframe {
                width: 100%;
            }
            .a-info {
                .info-1 {
                    font-size: 15px;
                }
                
            }
        }
    }
}

@include mobileVertical() {
    .s-concept{
        .c-box1{
            flex-direction: column;
            .c-content {
                width: 100%;
            }
            .spice-img {
                margin-top: 5%;
                width: 100%;
                transform: translateY(0);
            }
        }
        .c-box2{
            margin-top: 5%;
            flex-direction: column-reverse;
            .c-content2{
                width: 100%;
                transform: translateY(0);
            }
            .ginger-img{
                margin-top: 5%;
                width:100%;
            }
        }
    }
    .s-menu {
        .menu-list{
            width: 100%;
            display:flex;
            font-size: 20px;
            padding-left: 5%;
            top: 10%;
        }
    }
}
