@mixin fullWH {
    width: 100%;
    height: 100vh;
}
@mixin mobileVertical {
    @media (max-width: 401px) {
        @content;
    }
}
@mixin breakpoint3 {
    @media (max-width: 680px) {
        @content;
    }
}
@mixin mobileHorizontal {
    @media (max-width: 830px) {
        @content;
    }
}
@mixin tabletHorizontal {
    @media only screen and (max-width: 1100px) {
        @content;
    }
}

$primaryColor: rgb(182, 164, 83);

.s-concept {
    height: 170vh;
    padding: 0 10vw;
    .c-box1, .c-box2 {
        display: flex;
        justify-content: space-between;
        padding: 0 5%; 
    }
    .c-box1 {
        .c-content {
            width: 45%;
        }
        .spice-img {
            width: 45%;
            overflow: hidden;
            transform: translateY(-40%);
            img{
                width: 100%;
            }
        }
    }
    .c-box2 {
        margin-top: -15%;
        .ginger-img {
            width: 45%;
            height: 70vh;
            object-fit: cover;
            overflow: hidden;
            transform: translateY(-30%);
            img{
                width: 100%;
                transform: translateY(-20%);
            }
        }
        .c-content2 {
            width: 45%;
        }  
    }
    h1 {
        font-size: 2rem;
    }
    p {
        margin-top: 5%;
        font-size: 13px;
    }
}

.s-menu {
    width: 100%;
    height: 100vh;
    .headline {
        text-align: center;
    }
    .s-menu-container{
        position: relative;
        height: 100vh;
        .menu-content {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.5);
            color: white;
        }
        .menu-background {
            width: 100%;
            height: 100%;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
    }
}

.s-access {
    margin-top: 20%;
    width: 100%;
    padding: 0 10vw;
    .headline {
        text-align: center;
    }
    .a-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
        margin-left: 5%;
        width: 90%;
        iframe {
            width: 50%;
        }
        .a-info {
            margin-top: 5%;
            font-size: 15px;
        }
    }
}

@include tabletHorizontal(){
    .s-concept{
        margin-bottom: -30%;
        .c-box2{
            .ginger-img {
                transform: translateY(0);
            }
        }
    }
}
@include mobileHorizontal(){
    .s-concept {
        height: fit-content;
        margin-bottom: 20%;
        h1 {
            font-size: 20px;
        }
        p {
            font-size: 13px;
        }
    }
    
    .s-menu {
        .menu-list {
            font-size: 40px;
        }
    }
    .s-access {
        .a-content {
            iframe {
                width: 100%;
            }
            .a-info {
                .info-1 {
                    font-size: 15px;
                }
                
            }
        }
    }
}

@include mobileVertical() {
    .s-concept{
        .c-box1{
            flex-direction: column;
            .c-content {
                width: 100%;
            }
            .spice-img {
                margin-top: 5%;
                width: 100%;
                transform: translateY(0);
            }
        }
        .c-box2{
            margin-top: 5%;
            flex-direction: column-reverse;
            .c-content2{
                width: 100%;
                transform: translateY(0);
            }
            .ginger-img{
                margin-top: 5%;
                width:100%;
            }
        }
    }
    .s-menu {
        .menu-list{
            width: 100%;
            display:flex;
            font-size: 20px;
            padding-left: 5%;
            top: 10%;
        }
    }
}
