@import "./header";
@import "./main";

@mixin fullWH {
    width: 100%;
    height: 100vh;
}
@mixin gridTemplate {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
}
@mixin mobile {
    @media (max-width: 400px) {
        @content;
    }
}
@mixin breakpoint3 {
    @media (max-width: 680px) {
        @content;
    }
}
@mixin mobileHorizontal {
    @media (max-width: 830px) {
        @content;
    }
}
@mixin tabletHorizontal {
    @media only screen and (max-width: 1100px) {
        @content;
    }
}

$primaryColor: rgb(29, 187, 82);
$secondaryColor: rgb(0, 0, 0);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: fit-content;
    background-color: white;
    font-family: 'Playfair Display', serif;
    color: $primaryColor;
}

main {
    overflow: hidden;
    // height: 0;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
}

.o-logo, .h-logo {
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
}

button {
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}
.headline {
    font-size: 5rem;
    margin: 5%;
}

footer {
    display: flex;
    justify-content: space-between;
    .f-left {
        width: 50vw;
        display: flex;
        justify-self: space-between;
    }
}

.reserve-btn {
    cursor: pointer;
}

.active {
    color: $primaryColor;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    margin-right: 15%;
    opacity: 1;
    position: relative;
}

small {
    color: red;
}
input {
    background: rgba(0,0,0,.2);
    border-style: none;
    font: inherit;
    outline: none;
    box-shadow: none;
    &::placeholder {
        color: white;
        opacity: .7;
        padding-left: 2%;
    }
}

input[type="date"] {
    color: white;
    opacity: .7;
    padding: 2%;
}
input[type="time"] {
    color: white;
    opacity: .7;
    padding: 2%;
}

input[type="submit"] {
    background-color: white;
    color: $primaryColor;
    font-size: 20px;
    padding: 1% 4%;
    border-radius: 5px;
    margin-top: 5%;
    cursor: pointer;
}

.burger-menu-content.active {
    transform: translateX(0) !important;
    background-color: rgba(0,0,0,.7) !important;
}
.reserve-content.active {
    transform: translateX(0);
}

.line1.open {
    transform: rotate(45deg) translateX(5px) translateY(3px) !important;
}
.line2.open {
    transform: rotate(-45deg) translateX(1px) !important;
}
.reserve-btn.hide, .h-logo.hide {
    opacity: 0;
}


@include mobileHorizontal(){
    .headline {
        font-size: 4rem;
    }
}
@include breakpoint3() {
    .headline {
        font-size: 2rem;
    }
}
