.s-opening {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  z-index: -1;
}

.s-opening .o-logo {
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.s-opening .o-logo h1 {
  font-size: 5rem;
}

.s-opening .o-logo p {
  font-size: 2rem;
}

.s-opening .o-image {
  width: 25vw;
  height: 0;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  z-index: -1;
  background-color: #b6a453;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  position: relative;
}

.s-opening .o-image .img {
  background: url("../images/swirling-plate.jpg") no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 101%;
  -webkit-animation: imageAppear 1s linear;
          animation: imageAppear 1s linear;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.s-hero {
  position: relative;
  width: 100%;
  height: 100vh;
}

.s-hero .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1% 5%;
  width: 100%;
  height: 15vh;
  font-size: 20px;
}

.s-hero .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.s-hero .nav ul .line {
  width: 30px;
  height: 2px;
  background-color: #53b677;
  margin-bottom: 5px;
}

.s-info {
  position: absolute;
  bottom: -50%;
  left: 50%;
  width: 50%;
  height: 60vh;
  padding: 0 5%;
  background-color: rgba(255, 255, 255, 0.7);
  color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.s-info img {
  width: 70%;
}

.s-concept {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr 1fr 1fr 1fr 1fr 10%;
      grid-template-columns: 10% 1fr 1fr 1fr 1fr 1fr 10%;
  position: relative;
}

.s-concept .headline {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.s-concept .row-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr 1fr 1fr 1fr 1fr 10%;
      grid-template-columns: 10% 1fr 1fr 1fr 1fr 1fr 10%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / 8;
  position: relative;
}

.s-concept .row-1 .concept-1 {
  position: absolute;
  -ms-grid-column: 2;
      grid-column-start: 2;
  width: 60%;
  margin-top: 15vh;
  background-color: rgba(253, 251, 251, 0.7);
  color: #2b2b2b;
  padding: 3% 5%;
}

.s-concept .row-1 .concept-1 h2 {
  font-size: 30px;
  margin-bottom: 4vh;
}

.s-concept .row-1 .concept-1 p {
  font-size: 14px;
}

.s-concept .row-1 .concept-2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-perspective: 2px;
          perspective: 2px;
  z-index: -1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / 8;
  margin-top: 25vh;
  height: 500px;
  background-image: url("../images/tomyumpho.jpg");
  background-position: center;
}

.s-concept .row-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr 1fr 1fr 1fr 1fr 10%;
      grid-template-columns: 10% 1fr 1fr 1fr 1fr 1fr 10%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / 8;
  position: relative;
}

.s-concept .row-2 .concept-3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-perspective: 2px;
          perspective: 2px;
  margin-top: 40vh;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / 8;
  width: 100%;
  height: 500px;
  background-image: url("../images/gaiyang.jpg");
  background-position: center;
  background-size: cover;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.s-concept .row-2 .concept-4 {
  position: absolute;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / 7;
  margin-top: 30vh;
  background-color: rgba(253, 253, 253, 0.7);
  color: #2b2b2b;
  padding: 5% 8%;
}

.s-concept .row-2 .concept-4 h2 {
  font-size: 30px;
  margin-bottom: 4vh;
}

.s-concept .row-2 .concept-4 p {
  font-size: 13px;
}

.s-carousel {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 75vh;
  overflow: hidden;
  z-index: -1;
}

.s-carousel .carousel-track {
  z-index: -2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s-carousel .carousel-track li {
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.s-carousel .carousel-track li img {
  margin-top: -40vh;
  width: 102%;
}

.s-carousel .left-button, .s-carousel .right-button {
  position: absolute;
  z-index: 1;
  font-size: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0 10px;
}

.s-carousel .right-button {
  right: 0;
}

.s-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr 1fr 1fr 1fr 1fr 10%;
      grid-template-columns: 10% 1fr 1fr 1fr 1fr 1fr 10%;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 20vh;
  margin-bottom: 70vh;
}

.s-menu .headline {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.s-menu .menu-list {
  list-style: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 100%;
  text-align: right;
  -ms-grid-column: 5;
      grid-column-start: 5;
  position: absolute;
  z-index: 1;
  top: 30vh;
  right: 0;
  font-size: 5em;
  font-weight: 700;
}

.s-menu .menu-list li {
  opacity: .7;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.s-menu .menu-list li:not(.active):hover {
  cursor: pointer;
  -webkit-transform: translateX(-7%);
          transform: translateX(-7%);
  opacity: 1;
}

.s-menu .toggle-menu {
  position: relative;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  list-style: none;
  margin-top: 10vh;
}

.s-menu .toggle-menu li {
  display: none;
  color: white;
}

.s-menu .toggle-menu .displayed {
  display: block;
}

.s-menu .toggle-menu img {
  max-width: 100%;
  cursor: pointer;
}

.s-menu .toggle-menu img:nth-child(2) {
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: -1;
}

.s-menu .toggle-menu img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 1;
}

.s-menu .enlarge {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  display: none;
}

.s-menu .enlarge img {
  height: 90vh;
}

.s-menu .enlarge button {
  color: whitesmoke;
  font-size: 4em;
  position: absolute;
  top: -3%;
  right: 0;
  cursor: pointer;
}

.s-access {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr 1fr 1fr 1fr 1fr 10%;
      grid-template-columns: 10% 1fr 1fr 1fr 1fr 1fr 10%;
  position: relative;
  padding-top: 10%;
  width: 100%;
}

.s-access .headline {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2 / 7;
}

.s-access iframe {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2 / 7;
  width: 100%;
}

.s-access .info-1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  margin-top: 5%;
  font-size: 20px;
}

@media only screen and (max-width: 1100px) {
  main .concept .concept-3 {
    width: 120%;
  }
  main .concept .concept-3 .gaiyaan-img img {
    width: 80%;
  }
  main .concept .concept-3 .bg-elm {
    position: absolute;
    height: 50vh;
    top: 15%;
    left: 15%;
  }
  main .concept .concept-3 .bg-elm img {
    width: 95%;
    min-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .concept .concept-4 {
    width: 130%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  background-color: black;
  font-family: 'Oswald', sans-serif;
  color: #53b677;
}

main {
  height: 100%;
  position: relative;
  top: 0;
}

button {
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.headline {
  font-size: 5rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .f-left {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: space-between;
}

.active {
  color: #53b677;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  margin-right: 15%;
  opacity: 1;
}

.active::after {
  content: '-';
  width: 10px;
  height: 2px;
  color: #53b677;
}

@media only screen and (max-width: 1100px) {
  .headline {
    font-size: 8em;
  }
}
/*# sourceMappingURL=style.css.map */