.s-opening {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  z-index: -1;
}

.s-opening .o-logo {
  color: #8f770a;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.s-opening .o-logo h1 {
  font-size: 5rem;
}

.s-opening .o-logo p {
  font-size: 2rem;
}

.s-opening .o-image {
  width: 25vw;
  height: 0;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  z-index: -1;
  background-color: #8f770a;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  position: relative;
}

.s-opening .o-image .img {
  background: url("../images/swirling-plate.jpg") no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 101%;
  -webkit-animation: imageAppear 1s linear;
          animation: imageAppear 1s linear;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.s-hero {
  position: relative;
  max-width: 100%;
  height: 100vh;
}

.s-hero .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1% 5%;
  width: 100%;
  height: 15vh;
  font-size: 20px;
  z-index: 15;
  position: fixed;
  color: #8f770a;
}

.s-hero .nav .h-logo {
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  color: #8f770a;
  padding: 2% 3%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
  z-index: 6;
}

.s-hero .nav .h-logo h2 {
  font-size: 25px;
}

.s-hero .nav .h-logo p {
  font-size: 15px;
  font-weight: bold;
}

.s-hero .nav .reserve-btn {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.s-hero .burger-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 15;
}

.s-hero .burger-btn .line {
  width: 30px;
  height: 2px;
  background-color: #8f770a;
  margin-bottom: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.s-hero .hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.s-hero .hero .h-image {
  width: 40%;
  height: 110vh;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
}

.s-hero .hero .h-image img {
  width: 100%;
}

.s-hero .hero .h-title {
  font-size: 5rem;
  color: #b6a453;
  z-index: 11;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0 5%;
  width: 80%;
}

.s-hero .burger-menu-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 12;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.s-hero .burger-menu-content ul {
  background-color: #2c2c2c;
  -webkit-text-fill-color: #b6a453;
  -webkit-text-stroke: transparent;
  width: 50%;
  height: 100vh;
  margin-left: 50%;
  text-align: center;
  padding-top: 5%;
  font-size: 23px;
}

.s-hero .burger-menu-content ul li {
  margin: 5%;
  cursor: pointer;
}

.s-hero .burger-menu-content ul .line {
  width: 50%;
  height: 1px;
  background-color: #b6a453;
  margin-left: 25%;
  cursor: none;
}

.s-hero .burger-menu-content ul .reserve-btn {
  font-size: 20px;
  padding: 1% 4%;
}

.s-reserve {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  background-color: #b6a453;
  position: relative;
  color: white;
  padding: 15%;
}

.s-reserve .reserve-title {
  width: 400px;
}

.s-reserve .reserve-title .headline {
  color: white;
  font-size: 3.5rem;
  margin: 5% 0;
}

.s-reserve .reserve-title h4 {
  font-weight: 300;
  font-size: 13px;
}

.s-reserve .reserve-content {
  width: 47%;
}

.s-reserve .reserve-content .reserve-content-wrapper #reserve-form {
  margin-top: 5%;
}

.s-reserve .reserve-content .reserve-content-wrapper #reserve-form label {
  font-size: 15px;
  margin-bottom: 7px;
}

.s-reserve .reserve-content .reserve-content-wrapper #reserve-form .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.s-reserve .reserve-content .reserve-content-wrapper #reserve-form .input input {
  height: 7vh;
  min-width: 45%;
  font-size: 15px;
}

.s-reserve .reserve-content .reserve-content-wrapper #reserve-form .inline-inputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s-reserve .reserve-content .reserve-content-wrapper #reserve-form .inline-inputs input {
  width: 40%;
}

@media only screen and (max-width: 1100px) {
  .s-info {
    padding-top: 5%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 20%;
  }
}

@media (max-width: 830px) {
  .s-hero {
    height: 100vh;
  }
  .s-hero .hero {
    height: 100%;
  }
  .s-hero .hero .h-title {
    color: white;
    text-align: left;
    margin-top: 50%;
    font-size: 5rem;
  }
  .s-hero .hero .h-image {
    min-width: 100%;
    height: 100%;
  }
  .s-hero .hero .h-image img {
    width: 100%;
    height: auto;
    -webkit-filter: grayscale(20%) blur(3px);
            filter: grayscale(20%) blur(3px);
  }
}

@media (max-width: 400px) {
  .s-hero .nav .reserve-btn {
    display: none;
  }
  .s-hero .hero {
    height: 100vh;
  }
  .s-hero .hero .h-title {
    font-size: 3.5rem;
    margin-top: 50%;
  }
  .s-hero .hero .h-image img {
    height: 100%;
  }
}

.s-concept {
  height: 170vh;
  padding: 0 10vw;
}

.s-concept .c-box1, .s-concept .c-box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5%;
}

.s-concept .c-box1 .c-content {
  width: 45%;
}

.s-concept .c-box1 .spice-img {
  width: 45%;
  overflow: hidden;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

.s-concept .c-box1 .spice-img img {
  width: 100%;
}

.s-concept .c-box2 {
  margin-top: -15%;
}

.s-concept .c-box2 .ginger-img {
  width: 45%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}

.s-concept .c-box2 .ginger-img img {
  width: 100%;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

.s-concept .c-box2 .c-content2 {
  width: 45%;
}

.s-concept h1 {
  font-size: 2rem;
}

.s-concept p {
  margin-top: 5%;
  font-size: 13px;
}

.s-menu {
  width: 100%;
  height: 100vh;
}

.s-menu .headline {
  text-align: center;
}

.s-menu .s-menu-container {
  position: relative;
  height: 100vh;
}

.s-menu .s-menu-container .menu-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.s-menu .s-menu-container .menu-background {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.s-menu .s-menu-container .menu-background img {
  width: 100%;
}

.s-access {
  margin-top: 20%;
  width: 100%;
  padding: 0 10vw;
}

.s-access .headline {
  text-align: center;
}

.s-access .a-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  margin-left: 5%;
  width: 90%;
}

.s-access .a-content iframe {
  width: 50%;
}

.s-access .a-content .a-info {
  margin-top: 5%;
  font-size: 15px;
}

@media only screen and (max-width: 1100px) {
  .s-concept {
    margin-bottom: -30%;
  }
  .s-concept .c-box2 .ginger-img {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 830px) {
  .s-concept {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 20%;
  }
  .s-concept h1 {
    font-size: 20px;
  }
  .s-concept p {
    font-size: 13px;
  }
  .s-menu .menu-list {
    font-size: 40px;
  }
  .s-access .a-content iframe {
    width: 100%;
  }
  .s-access .a-content .a-info .info-1 {
    font-size: 15px;
  }
}

@media (max-width: 401px) {
  .s-concept .c-box1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .s-concept .c-box1 .c-content {
    width: 100%;
  }
  .s-concept .c-box1 .spice-img {
    margin-top: 5%;
    width: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .s-concept .c-box2 {
    margin-top: 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .s-concept .c-box2 .c-content2 {
    width: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .s-concept .c-box2 .ginger-img {
    margin-top: 5%;
    width: 100%;
  }
  .s-menu .menu-list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    padding-left: 5%;
    top: 10%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: black;
  font-family: 'Playfair Display', serif;
  color: #b6a453;
  width: 100%;
  overflow-x: hidden;
}

main {
  overflow: hidden;
  height: 0;
  width: 100%;
  position: relative;
  top: 0;
}

.o-logo, .h-logo {
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
}

button {
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.headline {
  font-size: 5rem;
  margin: 5%;
}

.footer {
  text-align: center;
  color: #b6a453;
  padding: 10px 0;
  border-top: 0.5px solid #b6a453;
  margin-top: 10vh;
}

.reserve-btn {
  cursor: pointer;
}

.active {
  color: #b6a453;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  margin-right: 15%;
  opacity: 1;
  position: relative;
}

small {
  color: red;
}

input {
  background: rgba(0, 0, 0, 0.2);
  border-style: none;
  font: inherit;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
}

input::-webkit-input-placeholder {
  color: white;
  opacity: .7;
  padding-left: 2%;
}

input:-ms-input-placeholder {
  color: white;
  opacity: .7;
  padding-left: 2%;
}

input::-ms-input-placeholder {
  color: white;
  opacity: .7;
  padding-left: 2%;
}

input::placeholder {
  color: white;
  opacity: .7;
  padding-left: 2%;
}

input[type="date"] {
  color: white;
  opacity: .7;
  padding: 2%;
}

input[type="time"] {
  color: white;
  opacity: .7;
  padding: 2%;
}

input[type="checkbox"] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 10px;
}

input[type="submit"] {
  background-color: white;
  color: #b6a453;
  font-size: 20px;
  padding: 1% 4%;
  border-radius: 5px;
  margin-top: 5%;
  cursor: pointer;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}

.burger-menu-content.active {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.reserve-content.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.line1.open {
  -webkit-transform: rotate(45deg) translateX(5px) translateY(3px) !important;
          transform: rotate(45deg) translateX(5px) translateY(3px) !important;
}

.line2.open {
  -webkit-transform: rotate(-45deg) translateX(1px) !important;
          transform: rotate(-45deg) translateX(1px) !important;
}

.reserve-btn.hide, .h-logo.hide {
  opacity: 0;
}

@media (max-width: 830px) {
  .headline {
    font-size: 4rem;
  }
}

@media (max-width: 680px) {
  .headline {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */