.s-opening {
  width: 100%;
  height: 0;
  opacity: 0;
  position: relative;
  top: 0;
  z-index: -1;
}

.s-opening .o-logo {
  color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.s-opening .o-logo h1 {
  font-size: 5rem;
}

.s-opening .o-logo p {
  font-size: 2rem;
}

.s-opening .o-image {
  width: 25%;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  z-index: -1;
  background-color: #8f770a;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  position: relative;
}

.s-opening .o-image .img {
  background: url("../images/swirling-plate.jpg") no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 101%;
}

.s-hero {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.s-hero .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1% 3%;
  width: 100%;
  height: 15vh;
  font-size: 20px;
  z-index: 15;
  position: fixed;
  color: white;
}

.s-hero .nav .h-logo {
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  color: #8f770a;
  padding: 2% 3%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
  z-index: 6;
}

.s-hero .nav .h-logo p {
  font-size: 15px;
  font-weight: bold;
}

.s-hero .nav .reserve-btn {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.s-hero .burger-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 15;
}

.s-hero .burger-btn .line {
  width: 30px;
  height: 2px;
  background-color: white;
  margin-bottom: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.s-hero .hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.s-hero .hero .h-image {
  width: 40%;
  height: 110vh;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
}

.s-hero .hero .h-image img {
  width: 100%;
}

.s-hero .hero .h-title {
  font-size: 5rem;
  color: #b6a453;
  z-index: 12;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-left: 10%;
  width: 75%;
}

.s-hero .burger-menu-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 12;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.s-hero .burger-menu-content .burger-menu-wrapper {
  background-color: #2c2c2c;
  -webkit-text-fill-color: #b6a453;
  -webkit-text-stroke: transparent;
  width: 50%;
  height: 100vh;
  margin-left: 50%;
  text-align: center;
  padding-top: 5%;
  font-size: 23px;
}

.s-hero .burger-menu-content .burger-menu-wrapper ul {
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.s-hero .burger-menu-content .burger-menu-wrapper ul li {
  margin: 5%;
  cursor: pointer;
}

.s-hero .burger-menu-content .burger-menu-wrapper ul .line {
  width: 50%;
  height: 1px;
  background-color: #b6a453;
  margin-left: 25%;
  cursor: none;
}

.s-hero .burger-menu-content .burger-menu-wrapper ul .reserve-btn {
  font-size: 20px;
  padding: 1% 4%;
}

.s-reserve {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  background-color: #b6a453;
  position: relative;
  color: white;
  padding: 10% 15%;
}

.s-reserve .reserve-title {
  width: 400px;
}

.s-reserve .reserve-title .headline {
  color: white;
  font-size: 3.5rem;
  margin: 5% 0;
}

.s-reserve .reserve-title h4 {
  font-weight: 300;
  font-size: 13px;
}

.s-reserve .reserve-content {
  width: 47%;
}

.s-reserve .reserve-content .reserve-content-wrapper #reserve-form {
  margin-top: 5%;
}

.s-reserve .reserve-content .reserve-content-wrapper #reserve-form label {
  font-size: 15px;
  margin-bottom: 7px;
}

.s-reserve .reserve-content .reserve-content-wrapper #reserve-form .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.s-reserve .reserve-content .reserve-content-wrapper #reserve-form .input input {
  height: 30px;
  min-width: 45%;
  font-size: 15px;
  color: wheat;
  margin-top: 10px;
}

.s-reserve .reserve-content .reserve-content-wrapper #reserve-form .inline-inputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
}

@media (max-width: 1100px) {
  .s-hero .nav {
    width: 100vw;
  }
  .s-hero .hero {
    overflow: hidden;
  }
  .s-hero .hero .h-title {
    font-size: 4.5rem;
    width: 80%;
    color: wheat;
  }
  .s-hero .hero .h-image {
    width: 100%;
    left: 0;
  }
  .s-hero .hero .h-image img {
    width: 100%;
  }
  .s-reserve {
    padding: 10% 25% 15% 25%;
  }
  .s-reserve .reserve-title {
    width: 100%;
  }
  .s-reserve .reserve-title .headline {
    font-size: 3rem;
    text-align: center;
  }
  .s-reserve .reserve-content {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .s-hero .nav {
    max-width: 100vw;
  }
  .s-hero .nav .reserve-btn {
    display: none;
  }
  .s-hero .nav .h-logo {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  .s-hero .nav .h-logo h5 {
    font-size: 20px;
  }
  .s-hero .nav .h-logo p {
    font-size: 13px;
  }
  .s-hero .hero {
    height: 100vh;
  }
  .s-hero .hero .h-title {
    font-size: 3rem;
    width: 90%;
    color: wheat;
  }
  .s-hero .hero .h-image {
    width: 100%;
    height: 100%;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .s-hero .hero .h-image img {
    height: 100%;
  }
  .s-hero .hero .h-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .s-reserve {
    padding: 15%;
  }
  .s-reserve .reserve-title .headline {
    color: whitesmoke;
    font-size: 2rem;
    margin-right: 0;
  }
  .s-reserve .reserve-title h4 {
    font-size: 11px;
  }
  .s-reserve .reserve-content .reserve-content-wrapper #reserve-form label {
    font-size: 11px;
    margin-bottom: 7px;
  }
  .s-reserve .reserve-content .reserve-content-wrapper #reserve-form .input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
  }
  .s-reserve .reserve-content .reserve-content-wrapper #reserve-form .input input {
    height: 30px;
    min-width: 45%;
    font-size: 15px;
    color: wheat;
    margin-top: 10px;
  }
  .s-reserve .reserve-content .reserve-content-wrapper #reserve-form .inline-inputs {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 10px;
  }
  .s-reserve .reserve-content .reserve-content-wrapper #reserve-form .inline-inputs label {
    width: 100%;
  }
}

.s-concept {
  height: 170vh;
  padding: 0 10vw;
}

.s-concept .c-box1, .s-concept .c-box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5%;
}

.s-concept .c-box1 .c-content {
  width: 45%;
}

.s-concept .c-box1 .spice-img {
  width: 45%;
  overflow: hidden;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

.s-concept .c-box1 .spice-img img {
  width: 100%;
}

.s-concept .c-box2 {
  margin-top: -10%;
}

.s-concept .c-box2 .ginger-img {
  width: 45%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

.s-concept .c-box2 .ginger-img img {
  width: 100%;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

.s-concept .c-box2 .c-content2 {
  width: 45%;
}

.s-concept h1 {
  font-size: 2rem;
}

.s-concept p {
  margin-top: 5%;
  font-size: 13px;
}

.s-menu {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 20vh;
}

.s-menu .headline {
  text-align: center;
  margin-bottom: 5%;
}

.s-menu .s-menu-container {
  position: relative;
  width: 100%;
  height: 110vh;
}

.s-menu .s-menu-container .menu-content {
  position: absolute;
  width: 80%;
  height: 97vh;
  line-height: 0.5;
  padding: 1%;
  top: -5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 5fr 1fr 4fr;
      grid-template-columns: 1fr 4fr 5fr 1fr 4fr;
  -ms-grid-rows: 1fr 5fr 5fr 1fr 1fr;
      grid-template-rows: 1fr 5fr 5fr 1fr 1fr;
  background-color: rgba(216, 195, 156, 0.9);
  color: black;
  font-size: 13px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.s-menu .s-menu-container .menu-content .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5%;
}

.s-menu .s-menu-container .menu-content .bites-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
  padding: 2% 0 2% 5%;
  border-top: none;
  border-left: none;
}

.s-menu .s-menu-container .menu-content .bites {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 3 / 3;
  border-left: none;
}

.s-menu .s-menu-container .menu-content .bites p {
  margin-top: 5%;
  line-height: 1;
  padding-left: 5%;
}

.s-menu .s-menu-container .menu-content .appe-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
  padding: 2% 0 2% 5%;
  border-top: none;
}

.s-menu .s-menu-container .menu-content .appetizers {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
}

.s-menu .s-menu-container .menu-content .s-s-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: 1 / 4 / 2 / 6;
  padding: 2% 0 2% 5%;
  border-top: none;
  border-right: none;
}

.s-menu .s-menu-container .menu-content .salad-soup {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: 2 / 4 / 3 / 6;
  border-right: none;
}

.s-menu .s-menu-container .menu-content .main-title {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
  border-left: none;
  padding: 10% 0 0 5%;
}

.s-menu .s-menu-container .menu-content .main-curry {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 3 / 2 / 4 / 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
}

.s-menu .s-menu-container .menu-content .main-curry .block-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 3 / 2;
}

.s-menu .s-menu-container .menu-content .main-curry .block-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

.s-menu .s-menu-container .menu-content .main-curry .block-3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.s-menu .s-menu-container .menu-content .noodles-title {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 3 / 4 / 4 / 5;
  padding: 10% 0 0 5%;
}

.s-menu .s-menu-container .menu-content .noodles {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 3 / 5 / 4 / 6;
  border-right: none;
}

.s-menu .s-menu-container .menu-content .noodle-options {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 4 / 1 / 5 / 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-left: none;
  border-right: none;
}

.s-menu .s-menu-container .menu-content .noodle-options .menu-item {
  padding: 1%;
}

.s-menu .s-menu-container .menu-content .additional-info {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 5 / 1 / 6 / 6;
  text-align: center;
  padding: 1% 0;
}

.s-menu .s-menu-container .menu-background {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.s-menu .s-menu-container .menu-background img {
  width: 100%;
}

.s-access {
  margin-top: 20%;
  width: 100%;
  padding: 0 10vw;
}

.s-access .headline {
  text-align: center;
}

.s-access .a-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  margin-left: 5%;
  width: 90%;
}

.s-access .a-content iframe {
  width: 50%;
}

.s-access .a-content .a-info {
  margin-top: 5%;
  font-size: 15px;
}

@media (max-width: 1100px) {
  .s-concept {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .s-concept .c-box2 {
    margin-top: -13%;
  }
  .s-concept .c-box2 .ginger-img {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .s-concept h1 {
    font-size: 20px;
  }
  .s-concept p {
    font-size: 11px;
  }
  .s-menu .s-menu-container {
    height: 48vh;
  }
  .s-menu .s-menu-container .menu-content {
    width: 90%;
    height: 100%;
    line-height: 1;
  }
  .s-access .a-content iframe {
    width: 100%;
  }
  .s-access .a-content .a-info {
    margin-top: 5%;
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .s-concept .c-box1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .s-concept .c-box1 .c-content {
    width: 100%;
  }
  .s-concept .c-box1 .spice-img {
    margin-top: 5%;
    width: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .s-concept .c-box2 {
    margin-top: 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .s-concept .c-box2 .c-content2 {
    width: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .s-concept .c-box2 .ginger-img {
    margin-top: 5%;
    width: 100%;
  }
  .s-menu .headline {
    margin-bottom: 10%;
  }
  .s-menu .s-menu-container .menu-content {
    font-size: 10px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: black;
  font-family: 'Playfair Display', serif;
  color: #b6a453;
  width: 100%;
  overflow-x: hidden;
}

main {
  width: 100%;
  height: 100%;
  overflow: visible;
  position: relative;
  top: 0;
}

.o-logo, .h-logo {
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
}

button {
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.headline {
  font-size: 5rem;
  margin: 5%;
}

.footer {
  text-align: center;
  color: #b6a453;
  padding: 10px 0;
  border-top: 0.5px solid #b6a453;
  margin-top: 10vh;
}

.reserve-btn {
  cursor: pointer;
}

.active {
  color: #b6a453;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  margin-right: 15%;
  opacity: 1;
  position: relative;
}

.bordered {
  border: solid 0.1px black;
}

small {
  color: red;
}

input {
  background: rgba(0, 0, 0, 0.2);
  border-style: none;
  font: inherit;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
}

input::-webkit-input-placeholder {
  color: white;
  opacity: .7;
  padding-left: 2%;
}

input:-ms-input-placeholder {
  color: white;
  opacity: .7;
  padding-left: 2%;
}

input::-ms-input-placeholder {
  color: white;
  opacity: .7;
  padding-left: 2%;
}

input::placeholder {
  color: white;
  opacity: .7;
  padding-left: 2%;
}

input[type="date"] {
  color: white;
  opacity: .7;
  padding: 2%;
}

input[type="time"] {
  color: white;
  opacity: .7;
  padding: 2%;
}

input[type="checkbox"] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 10px;
}

input[type="submit"] {
  background-color: white;
  color: #b6a453;
  font-size: 17px;
  padding: 1% 4%;
  border-radius: 5px;
  margin-top: 5%;
  cursor: pointer;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}

.burger-menu-content.active {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.reserve-content.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.line1.open {
  -webkit-transform: rotate(45deg) translateX(5px) translateY(3px) !important;
          transform: rotate(45deg) translateX(5px) translateY(3px) !important;
}

.line2.open {
  -webkit-transform: rotate(-45deg) translateX(1px) !important;
          transform: rotate(-45deg) translateX(1px) !important;
}

.reserve-btn.hide, .h-logo.hide {
  opacity: 0;
}

@media (max-width: 1100px) {
  .headline {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */